## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [6]:
import pandas as pd
from scipy import stats
import numpy as np

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [7]:
samples = np.random.normal(100, 15, 1000) #(mean, SD, samples)

Compute the **mean**, **median**, and **mode**

In [10]:
np.mean(samples)

100.30238072145063

In [11]:
np.median(samples)

99.85229392687441

In [12]:
stats.mode(samples)

ModeResult(mode=array([48.01907928]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [13]:
np.min(samples)

48.019079280938335

In [14]:
np.max(samples)

155.38672573616984

In [15]:
q1 = np.percentile(samples, 25)
q1

89.96687569895151

In [16]:
q3 = np.percentile(samples, 75)
q3

110.93687841333619

In [17]:
stats.iqr(samples)

20.970002714384677

Compute the **variance** and **standard deviation**

In [ ]:
variance = 
std_dev =

In [19]:
np.var(samples)

255.43110206945514

In [20]:
np.std(samples)

15.982212051823588

Compute the **skewness** and **kurtosis**

In [21]:
stats.skew(samples)

0.0034130521000256563

In [22]:
stats.kurtosis(samples)

-0.014342600436247466

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [8]:
x = np.arange(10, 20)

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [9]:
y = np.random.randint(1, 100, 10)

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [10]:
np.corrcoef(x,y)

array([[ 1.        , -0.35672502],
       [-0.35672502,  1.        ]])

## Pandas Correlation Calculation

Run the code below

In [16]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [18]:
r = x.corr(y) 
r

0.7586402890911867

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [19]:
rho = x.corr(y, method='spearman')
rho

0.9757575757575757

## Seaborn Dataset Tips

Import Seaborn Library

In [21]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [22]:
tips = sns.load_dataset("tips")

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [23]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [24]:
tips.corr('pearson')

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000